body {
	background-color: #fcf5e9;
	padding: 50px;
	font-family: fantasy;
	font-size: 25px;
	line-height: 2;		
}

.choice1 {
	font-size: 20px;
	color: #542904;
	text-decoration: none;
}

.attribution {
	font-size: 5px
}

.home {
	font-family: impact;
	font-size: 25;	
	text-decoration: underline overline;
}